@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <PageTitle>Přístup zamítnut</PageTitle>
                    <h1>Přístup zamítnut</h1>
                    <p>Pro vstup na tuto stránku se prosím přihlaste jako administrátor.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Omlouváme se, na této stránce nic není..</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>