<div class="container mt-5 text-center">
    <h2>404 - Stránka nenalezena</h2>
    <p class="text-muted mb-4">
        Omlouváme se, ale požadovaná stránka, neexistuje.
    </p>
    <a class="btn btn-primary" href="/">
        zpět na úvodní stránku
    </a>
</div>